footer[role='contentinfo'] {
	padding:10px;
}
.footer {
    padding: 30px 10px;
    border-top: 1px solid #d1d6da;
    // background color in variables.scss
    //background: url(../img/footer.png) top center;
    color: #fff;
    text-align: center;
    position: relative;
	//@include gradient-vertical ($page-background, $page-background, 0%, 100%);

	.field--field-footer {
	    max-width: 1350px;
	    margin: 0 auto;
	    position: relative;
	    z-index: 1;
	}

	h2 {
	    color: white;
	    text-transform: uppercase;
    	text-align: left;

    	@media #{$media-mobileTo} {
    		margin-top: 0;
    	}


    	font-size: 35px;

    	small {
		    font-size: 60%;
		    font-weight: normal;
		    display: inline-block;
		    position: relative;
		    top: 12px;
		    left: 2px;
		}

    	@media #{$media-bigMobile} {
    		text-align: left;
        }
	}

	a, a:link {
	    color: #fff;
	    text-decoration: none;
	}

	img {
		@media #{$media-mobileTo} {
			max-width: 100%;
		}
	}

}


.footerInside {
	background: 151f41;
	max-width: 1200px;
	margin: 0 auto;
}