
#slider {
    background:#7cccd4;
    min-height:300px;

    .wrapper {
        text-align:center;
    }

    h2 {
        line-height:300px;
    }
}


.slider {
    display: block;
    //height: 300px;
    position: relative;
    width: 100%;

    @media #{$media-tablet} {
        // height: 500px;
    }

    @media #{$media-desktop} {
        margin: 0;
        // height: 470px;
    }
}


.slider-image-container {
    display: block;
    height: 70px;
    //max-width: 1200px;
    max-width: 100%;
    //position: absolute;
    //overflow: hidden;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    text-align: center;
    margin: 0 auto;

    @media #{$media-bigMobile} {
    }

    @media #{$media-tablet} {
        
    }

    @media #{$media-desktop} {
        background: none;
        height: 350px;
    }

    @media only screen and (min-width: 1445px) {
        height: 500px;
    }

    @media #{$media-desktop} {
        //background-image: url("../../img/slider.jpg");
        //height: 470px;
        /* Create the parallax scrolling effect */
        //background-attachment: fixed;
        //background-position: center 83px;
        //background-repeat: no-repeat;
        //background-size: contain;
        //background-size: contain;
    }

    img {

        //-o-object-fit: cover;
        //object-fit: cover;
        width: 100%;
        max-width: 1440px;
        //height: 100%;
        height: auto;
        margin: 0 auto;
        max-height: none;
        border: none!important;
        border-radius: 0!important;
        padding: 0!important;
        position: relative;
        display: inline-block;
        //-webkit-box-sizing: border-box;
        //box-sizing: border-box;

        @media #{$media-desktop} {
            //display: none;
        }
    }

} //end .slider-image-container

.slider-claim-container {
    //critical: this;
    display: block;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //@include gradient-horizontal ( #008e7ade, #04add0e8, 0%, 100%);
}


.slider-claim {
    //critical: this;
    display: table;
    height: 100%; 
    width: 100%; 
    font-size: 200%;
    text-shadow: 1px 1px 7px #00000080;
}
.slider-claim-in {

    //critical: this;
     display: table-cell; text-align: center; vertical-align: middle; color: white;

     p {
        padding: 0;
        margin: 0;
        line-height: 30px;
        font-size: 23px;

        strong {
            font-size: 130%;
         }
     }

     @media #{$media-tablet} {

        p {
            line-height: 52px;
            font-size: 40px;
            strong {
                font-size: 160%;
            }
        }
            
    }

    @media #{$media-desktop} {
        p {
            line-height: 60px;
            font-size: 50px;
            strong {
                font-size: 170%;
            }
        }
    }

}