


@-webkit-keyframes empty{0%{opacity:1}}@-moz-keyframes empty{0%{opacity:1}
}@keyframes empty{0%{opacity:1}}@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}
}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes fadeOut{0%{opacity:1}
100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}
}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes backSlideOut{25%{opacity:.5;-webkit-transform:translateZ(-500px)}
75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
}@-moz-keyframes backSlideOut{25%{opacity:.5;-moz-transform:translateZ(-500px)}75%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}}@keyframes backSlideOut{25%{opacity:.5;transform:translateZ(-500px)}
75%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}100%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
}@-webkit-keyframes backSlideIn{0,25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-webkit-transform:translateZ(-500px)}100%{opacity:1;-webkit-transform:translateZ(0) translateX(0)}
}@-moz-keyframes backSlideIn{0%,25%{opacity:.5;-moz-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-moz-transform:translateZ(-500px)}100%{opacity:1;-moz-transform:translateZ(0) translateX(0)}
}@keyframes backSlideIn{0%,25%{opacity:.5;transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;transform:translateZ(-500px)}100%{opacity:1;transform:translateZ(0) translateX(0)}
}@-webkit-keyframes scaleToFade{to{opacity:0;-webkit-transform:scale(0.8)}}@-moz-keyframes scaleToFade{to{opacity:0;-moz-transform:scale(0.8)}
}@keyframes scaleToFade{to{opacity:0;transform:scale(0.8)}}@-webkit-keyframes goDown{from{-webkit-transform:translateY(-100%)}
}@-moz-keyframes goDown{from{-moz-transform:translateY(-100%)}}@keyframes goDown{from{transform:translateY(-100%)}
}@-webkit-keyframes scaleUpFrom{from{opacity:0;-webkit-transform:scale(1.5)}}@-moz-keyframes scaleUpFrom{from{opacity:0;-moz-transform:scale(1.5)}
}@keyframes scaleUpFrom{from{opacity:0;transform:scale(1.5)}}@-webkit-keyframes scaleUpTo{to{opacity:0;-webkit-transform:scale(1.5)}
}@-moz-keyframes scaleUpTo{to{opacity:0;-moz-transform:scale(1.5)}}@keyframes scaleUpTo{to{opacity:0;transform:scale(1.5)}
}








label{display:block;padding:7px 0}input,textarea{width:calc(100% - 24px);border-radius:3px;padding:0}
textarea{height:120px}
.form-item{margin:10px 0}
input[type="submit"]{
	width:auto;cursor:pointer;display:inline-block;height:38px;line-height:38px;font-size:100%;margin:0 0 0 15px;padding:0 15px;text-decoration:none;background:#ccc;border:1px solid #cdcdcd;border-radius:3px;font-weight:500;text-shadow:1px 1px #ccc;background:-moz-linear-gradient(top,#fff 0,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#fff));background:-webkit-linear-gradient(top,#fff 0,#fff 100%);background:-o-linear-gradient(top,#fff 0,#fff 100%);background:-ms-linear-gradient(top,#fff 0,#fff 100%);background:linear-gradient(to bottom,#fff 0,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$button-secondbg-color,endColorstr=$button-firstbg-color,GradientType=0);color:#95969a !important;letter-spacing:2px;transition:300ms all}
input[type="submit"]:first-child{
	margin-left:0}
input[type="submit"]:hover{text-shadow:1px 1px #333;background:#c53a44;color:#fff !important}

.webform-submission-form{padding-bottom:50px}
.webform-submission-form #edit-actions{position:absolute;bottom:25px}
.webform-submission-form .g-recaptcha{padding-left:7.2em;overflow:hidden}
